@font-face {
  font-family: 'neue-regular';
  src: url('../webfonts/neue-regular.eot');
  src: url('../webfonts/neue-regular.eot#iefix') format('embedded-opentype'),
    url('../webfonts/neue-regular.woff') format('woff'),
    url('../webfonts/neue-regular.otf') format('opentype'),
    url('../webfonts/neue-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'NeueDisplay-Random';
  src: url('../webfonts/NeueDisplay-Random.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue-Black';
  src: url('../webfonts/neue-black.eot');
  src: url('../webfonts/neue-black.eot#iefix') format('embedded-opentype'),
    url('../webfonts/neue-black.woff') format('woff'),
    url('../webfonts/neue-black.otf') format('opentype'),
    url('../webfonts/neue-black.ttf') format('truetype');
}

@font-face {
font-family: 'neue-display';
font-weight: 400;
font-style: normal;
src: url('../webfonts/neuedisplay-black.woff') format('woff');
}
