@font-face {
  font-family: 'neue-regular';
  src: url('../webfonts/neue-regular.eot?') format('eot'), 
    url('../webfonts/neue-regular.woff') format('woff'), 
    url('../webfonts/neue-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'neue-black';
  src: url('../webfonts/neue-black.eot?') format('eot'), 
    url('../webfonts/neue-black.woff') format('woff'), 
    url('../webfonts/neue-black.ttf') format('truetype');
}

@font-face {
  font-family: 'NeueDisplay-Random';
  src: url('../webfonts/NeueDisplay-Random.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
font-family: 'neue-display';
src: url('../webfonts/neuedisplay-black.woff') format('woff');
font-weight: 400;
font-style: normal;
}
