/* Webfont: Neue-Regular */@font-face {
    font-family: 'Neue';
    src: url('../webfonts/Neue/Neue-Regular.eot'); /* IE9 Compat Modes */
    src: url('../webfonts/Neue/Neue-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../webfonts/Neue/Neue-Regular.woff') format('woff'), /* Modern Browsers */
         url('../webfonts/Neue/Neue-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../webfonts/Neue/Neue-Regular.svg#Neue-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Neue-RegularItalic */@font-face {
    font-family: 'Neue';
    src: url('../webfonts/Neue/Neue-RegularItalic.eot'); /* IE9 Compat Modes */
    src: url('../webfonts/Neue/Neue-RegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../webfonts/Neue/Neue-RegularItalic.woff') format('woff'), /* Modern Browsers */
         url('../webfonts/Neue/Neue-RegularItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../webfonts/Neue/Neue-RegularItalic.svg#Neue-RegularItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Neue-Black */@font-face {
    font-family: 'NeueBlack';
    src: url('../webfonts/Neue_Black/Neue-Black.eot'); /* IE9 Compat Modes */
    src: url('../webfonts/Neue_Black/Neue-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../webfonts/Neue_Black/Neue-Black.woff') format('woff'), /* Modern Browsers */
         url('../webfonts/Neue_Black/Neue-Black.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../webfonts/Neue_Black/Neue-Black.svg#Neue-Black') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Neue-Bold */@font-face {
    font-family: 'NeueBold';
    src: url('../webfonts/Neue_Bold/Neue-Bold.eot'); /* IE9 Compat Modes */
    src: url('../webfonts/Neue_Bold/Neue-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../webfonts/Neue_Bold/Neue-Bold.woff') format('woff'), /* Modern Browsers */
         url('../webfonts/Neue_Bold/Neue-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../webfonts/Neue_Bold/Neue-Bold.svg#Neue-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Neue-BoldItalic */@font-face {
    font-family: 'NeueBold';
    src: url('../webfonts/Neue_Bold/Neue-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('../webfonts/Neue_Bold/Neue-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../webfonts/Neue_Bold/Neue-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('../webfonts/Neue_Bold/Neue-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../webfonts/Neue_Bold/Neue-BoldItalic.svg#Neue-BoldItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: NeueDisplay-Black */@font-face {
    font-family: 'NeueDisplayBlack';
    src: url('../webfonts/NeueDisplay-Black/NeueDisplay-Black.eot'); /* IE9 Compat Modes */
    src: url('../webfonts/NeueDisplay-Black/NeueDisplay-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../webfonts/NeueDisplay-Black/NeueDisplay-Black.woff') format('woff'), /* Modern Browsers */
         url('../webfonts/NeueDisplay-Black/NeueDisplay-Black.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../webfonts/NeueDisplay-Black/NeueDisplay-Black.svg#NeueDisplay-Black') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: NeueDisplay-Ultra */@font-face {
    font-family: 'NeueDisplayUltra';
    src: url('../webfonts/NeueDisplayUltra/NeueDisplay-Ultra.eot'); /* IE9 Compat Modes */
    src: url('../webfonts/NeueDisplayUltra/NeueDisplay-Ultra.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../webfonts/NeueDisplayUltra/NeueDisplay-Ultra.woff') format('woff'), /* Modern Browsers */
         url('../webfonts/NeueDisplayUltra/NeueDisplay-Ultra.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../webfonts/NeueDisplayUltra/NeueDisplay-Ultra.svg#NeueDisplay-Ultra') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: NeueDisplay-Wide */@font-face {
    font-family: 'NeueDisplayWide';
    src: url('../webfonts/NeueDisplayWide/NeueDisplay-Wide.eot'); /* IE9 Compat Modes */
    src: url('../webfonts/NeueDisplayWide/NeueDisplay-Wide.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../webfonts/NeueDisplayWide/NeueDisplay-Wide.woff') format('woff'), /* Modern Browsers */
         url('../webfonts/NeueDisplayWide/NeueDisplay-Wide.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../webfonts/NeueDisplayWide/NeueDisplay-Wide.svg#NeueDisplay-Wide') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: NeueDisplay-Random */@font-face {
    font-family: 'NeueDisplayRandom';
    src: url('../webfonts/NeueDisplayRandom/NeueDisplay-Random.eot'); /* IE9 Compat Modes */
    src: url('../webfonts/NeueDisplayRandom/NeueDisplay-Random.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../webfonts/NeueDisplayRandom/NeueDisplay-Random.woff') format('woff'), /* Modern Browsers */
         url('../webfonts/NeueDisplayRandom/NeueDisplay-Random.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../webfonts/NeueDisplayRandom/NeueDisplay-Random.svg#NeueDisplay-Random') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
