h1 {
  color: #e42a1d;
  font-family: neue display;
  font-size: 1.5rem;
}

h2 {
  font-family: neue;
  font-size: 40px;
  line-height: 45px;
  font-weight: 900;
  font-style: normal;
  letter-spacing: -.01rem;
}

h3 {
  color: #000000;
  font-family: neue;
  font-size: 20px;
  font-weight: bold;
}

p {
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  font-family: neue;
}

/* HEADER */

.navbar-default .navbar-nav>li>a {
  color: #767676;
  text-transform: uppercase;
  font-size: 12px;
  font-family: neue-black;
  letter-spacing: .05rem;
  text-decoration: underline;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #e42a1d;
}
