<div class="container-fluid footer">
  <footer>
    <div class="row uhl-footer">
      <div class="row-fluid footer-inner">
          <div class="col-md-12 footer-links">
            <ul class="footer-links-list">
              <li><a href="https://library.newschool.edu/archives/" title="Archives Home">Archives Home</a></li>
              <li><a href="https://library.newschool.edu/" title="Library Home">Library Home</a></li>
              <li><a href="https://libraries.uh.edu/contact/feedback" title="University Home">University Home</a></li>
              <li><a href="http://archivesspace.org/" title="Powered by ArchivesSpace">ArchivesSpace <%= ASConstants.VERSION %></a></li>
            </ul>
          </div>
      </div>
    </div>
  </footer>
</div>
