 <div class="container-fluid footer">
  <footer>
    <div class="row-tns-footer">
      <div class="row-fluid footer-inner">
          <div class="col-md-6 footer-links">
            <ul class="footer-links-list">
              <h5>The New School Archives and Special Collections</h5>
              <p>66 5th Avenue, Lobby Level<br>
              New York, New York 10011</p>
              <p>archivist@newschool.edu</p>
              <p>212.229.5942</p>
            </ul>
            <span id="footer-cp"><p>Copyright © 2020 The New School</br>
              <a href="https://ispo.newschool.edu/notices/website/" rel="noopener" target="_blank">Privacy Notice</a><br></p></span>
          </div>
          <div class="col-md-6 footer-links">
            <ul class="footer-links-list">
              <h5 style="color: #e42a1d;">RESOURCES</h5>     
              <p><a href="https://newschool.edu" rel="noopener" target="_blank">University Home</a><br>
              <a href="https://library.newschool.edu" rel="noopener" target="_blank">Library Home</a><br>
              <a href="https://archives.newschool.edu" rel="noopener" target="_blank">Archives Home</a></p>
            </ul>
          </div>
      </div>
    </div>
  </footer>
</div>
