<div class="container-fluid footer">
  <footer>
    <div class="row-tns-footer">
      <div class="row-fluid footer-inner">
          <div class="col-md-12 footer-links">
            <ul class="footer-links-list">
              <li><a href="https://library.newschool.edu/archives/" title="Archives Home">Archives Home</a></li>
            </ul>
          </div>
      </div>
    </div>
  </footer>
</div>
