<section  id="header"  role="banner">
    
  <div class="row" style="background-color:black;">
    <div class="col-xs-6">
      <div class="header-first">
        <ul class="clearfix-menu">
          <li class="menu-item" style="border-right: solid 1px #8c8c8c;">
            <a href="https://www.newschool.edu/" rel="noopener" target="_blank">University Home</a>
          </li>
          <li class="menu-item" style="padding-left: 10px;">
            <a href="https://archives.newschool.edu/" rel="noopener" target="_blank">Archives Home</a>
          </li>
        </ul>
      </div>  
    </div>
  
    <div class="col-xs-6">
      <div class="header-second">
        <ul class="clearfix-menu">
          <li class="menu-item" style="color:#8c8c8c;">
                Finding Aids
          </li>
          <li class="menu-item">
              <a href="https://digital.archives.newschool.edu/" rel="noopener" target="_blank">Digital Archives</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
    
  <div class="row">
    <div class="col-md-12">
      <h1 id="fullsitetitle">The New School Archives And Special Collections</h1>  
        <h2 id="site-title">
            <a title="Return to Collection Guides homepage" href="<%= AppConfig[:public_proxy_url] %>">Finding Aids</a> 
      </h1>
    </div>         
  </div>
    
         
                                       
</section>
