<section  id="header">
  <div class="row" id="covidnotice" style="background-color:#ffe000;">
    <div class="container-fluid">
      <div class="col-12">
        <h5>COVID-19 Notice</h5>
        <p>The New School Archives and Special Collections is physically closed until further notice. We are currently offering virtual research services and   access to our <a href="http://digitalarchives.library.newschool.edu/">digital 					collections</a> online. Please reach out to <a href="mailto:archivist@newschool.edu">archivist@newschool.edu</a> with 			questions.</p>
      </div>
    </div>
  </div>   
    
  <div class="row" style="background-color:black;">
    <div class="col-xs-6">
      <div class="header-first">
        <ul class="clearfix-menu">
          <li class="menu-item" style="border-right: solid 1px #8c8c8c;">
            <a href="https://www.newschool.edu/">University Home</a>
          </li>
          <li class="menu-item" style="padding-left: 10px;">
            <a href="https://www.kellenarchives.com/">Archives Home</a>
          </li>
        </ul>
      </div>  
    </div>
  
    <div class="col-xs-6">
      <div class="header-second">
        <ul class="clearfix-menu">
          <li class="menu-item" style="color:#8c8c8c;">
                Collection Guides
          </li>
          <li class="menu-item" style="padding-right: 10px;">
              <a href="https://www.digitalarchives.library.newschool.edu/">Digital Collections</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
    
  <div class="row">
      <h2 id="site-title">Collection Guides</h2>
      <h1 id="asc-title">
          <% unless request.original_fullpath == '/' %>
            <a title="<%=t('brand.title_link_text') %>" href="<%= AppConfig[:public_proxy_url] %>">
          <% end %>
          <%= t('brand.title') %>
          <% unless request.original_fullpath == '/' %>
            </a>
          <% end %>
      </h1>
  </div>
    
  <div class="col-sm-3 hidden-xs"><img class="logo" src="<%= asset_path(AppConfig[:pui_branding_img]) %>" alt="" /></div>
  
</section>
