
  
<div class="row welcome-text" role="main">
  <div id="welcome-text">
  	<h3><a href="/search?reset=true">Search the Finding Aids</a></h3>
    
    <p><a href="https://dictionary.archivists.org/entry/finding-aid.html">Finding Aids</a> describe archival collections held by The New School Archives. When a new collection becomes available for research, the guide for the collection is added to this site. Collection guides inform researchers about a collection; they do not contain the actual documents in a collection. To learn more about using collection guides, see this <a href="https://guides.library.newschool.edu/c.php?g=274422&p=1830828" target="_blank" rel="noopener">LibGuide.</a></p>
  
    <h3>What are archival collections?</h3>
    <p>Archival collections are groups of primary source materials created by a person, group of people, or organization in the course of their everyday work or activities. Collections can range in size from a single document to hundreds of boxes or gigabytes of digital files. They can contain a range of materials, including documents, drawings, photographs, websites, and audiovisual records. Unlike published materials, archival collections are usually unique and exist only in the collection where a researcher finds them.</p>

    <h3>What is not on this site?</h3>
    
    

    <button class="front-accordion">Digital Collections</button>
		<div class="front-panel">
			<p>While the guides you find here contain links to collections that include digitized or born-digital material, not everything in the Archives is available in digital form. To browse and search the digital archives, visit our <a href="https://digital.archives.newschool.edu/" target="_blank" rel="noopener">Digital Collections</a> database.</p>
		</div>

	<button class="front-accordion">Unprocessed Collections</button>
		<div class="front-panel">
			<p>This site does not include collections in The New School Archives that have not yet been cataloged. If you cannot find the information you are seeking here, contact us at <a href="mailto:archives@newschool.edu">archives@newschool.edu</a> and we will gladly check our internal database for you.</p>
		</div>

	<button class="front-accordion">Special Collections</button>
		<div class="front-panel">
			<p>Find information about our published <a href="https://archives.newschool.edu/specialcollections" target="_blank" rel="noopener">Special Collections</a> holdings, such as artists' books and scores.</p>
		</div>
		
	<button class="front-accordion">Items in the Library</button>
		<div class="front-panel">
		<p>Use The New School Library <a href="https://library.newschool.edu/" rel="noopener" target="_blank">catalog</a> to search for published library materials, such as books, journals, and commercial recordings.</p>
		</div>
      

      
    <h3>Questions?</h3>
      <p>Learn more about The New School Archives and Special Collections on our <a href="https://archives.newschool.edu" target="_blank" rel="noopener">homepage.</a></p>
      <p>Contact us at <a href="mailto:archives@newschool.edu">archives@newschool.edu</a> to schedule an online appointment, request that our staff conduct research on your behalf, or for questions about The New School Archives and Special Collections.</p>

  </div>
</div>


<script>
var acc = document.getElementsByClassName("front-accordion");
var i;
for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>
